.container {
  padding-block: 2rem;
}

.members {
  display: grid;
  justify-content: space-between;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
}

.member {
  background-color: var(--bright-black);
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
}

.title {
  margin: 0 0.5rem;
}

@media (min-width: 326px) {
  .title {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }
}

.clear {
  clear: both;
}

.details {
  margin-bottom: 0.5rem;
  font-size: 90%;
}

.detail {
  margin-left: 0.3rem;
}

.a {
  color: var(--normal-green);
}

.d {
  color: var(--normal-red);
}

.image-container {
  border-radius: 1rem;
  width: max(20%, 4rem);
  margin: 0 1em 0.5em 0;
  float: left;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-bg);
}

.image {
  border-radius: 1rem;
  display: block;
  transition: 400ms opacity ease-out;
  opacity: 0;
}

.image--show {
  opacity: 1;
}

.list {
  margin: 0;
}

.summary {
  font-weight: bold;
  font-size: 1.4em;
}
